@media screen and (max-width: 768px) {
    .column{
        width: 40%;
        display: inline-block;
    }

    #desk, .text{
        display: none;
    }

    #mobile{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }
}